body {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-color: rgba(255,255,255,0.5); */
    /* background-color: #DFF6FF; */
}

.cover {
    position: absolute; width: 100%; height: 100%; margin-top: 160px; padding-top: 20%;
    background-color: rgba(22, 21, 21, 0.5);;
}

body h1 {
    color: #2b2770;
}

.wholebody {
    height: 101vh;
    width: 100%;
    /* background-color: #DFF6FF; */
}

#sidebar {
    width: 8vh; 
    height: 97%; 
    background-color: #6A67CE; 
    margin-left: 10px; 
    margin-top: 10px; 
    box-shadow: 4px 8px 8px -4px #6A67CE;
}

#content {
    width: 100%;
}
#profilebar {
    width: 97%; 
    height: 97%; 
    background-color: #eaeaf5; 
    margin-right: 20px; 
    margin-top: 10px; 
}

input:focus {
    outline: none;
    border-color: #3b82f6;
}

::-webkit-scrollbar {
    width: 8px;

}
  
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6A67CE; 
    border-radius: 10px;
    width: 20px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #4a488b; 
}


.table-scrollbar::-webkit-scrollbar {
    width: 5px;
}
  
/* Handle */
.table-scrollbar::-webkit-scrollbar-thumb {
    background: #6A67CE; 
    border-radius: 10px;
    border-right: 7px;
}

  
/* Handle on hover */
.table-scrollbar::-webkit-scrollbar-thumb:hover {
background: #4a488b; 
}

.employee-list {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 1px solid rgb(226 232 240);
}

.employee-list:hover {
    border-top: 2px solid rgb(226 232 240);
    border-left: 2px solid rgb(226 232 240);
    border-right: 2px solid rgb(226 232 240);
    border-bottom: 2px solid rgb(226 232 240);
    box-shadow: 0 0 20px  #d8d8f1;
}

.table-list{
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 1px solid rgb(226 232 240);
}

.table-list:hover {
    border-top: 2px solid rgb(226 232 240);
    border-left: 2px solid rgb(226 232 240);
    border-right: 2px solid rgb(226 232 240);
    border-bottom: 2px solid rgb(226 232 240);
    box-shadow: 0 0 10px  #d8d8f1;
}

.clip {
    text-overflow: clip;
  }

.ellipsiphy {
    overflow: hidden !important; 
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.label-heading {
    color: #2b2770;
}

.bounce-enter-active {
    animation: bounce-in 1s;
}
.bounce-leave-active {
    animation: bounce-in 0.4s reverse;
}
@keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
}

.info-dialog {
    animation: fade-in 0.5s;
}


@keyframes slideup {
    0% {top: 0px;}
    75% {top: 0px;}
    100% {top: -20px;}
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    100% { opacity: 0; }
}

@keyframes slide-in {
    100% { transform: translateY(100px); }
}

@keyframes slide-out {
    0% { transform: translateY(100px); }
    100% { transform: translateY(200%); }
}

.Vue-Toastification__toast--success.my-custom-toast-class {
    /* background-color: red; */
    height: 5px !important;
}
